---
ims:
    tosca_file_from_SDC: service-Ims-template
    version: "1.0"
    subscription_type: "ims"
    vnfs:
        - vnf_name: Clearwater_vnf
          heat_files_to_upload: onaptests/templates/heat-files/clearwater_ims/clearwater_ims.zip
          vnf_parameters: [
              {"vnf-parameter-name":"public_net_id",
               "vnf-parameter-value":"{{ openstack_public_net_id }}"},
              {"vnf-parameter-name":"bono_image_name",
               "vnf-parameter-value":"ubuntu-14.04-daily"},
              {"vnf-parameter-name":"dime_image_name",
               "vnf-parameter-value":"ubuntu-14.04-daily"},
              {"vnf-parameter-name":"dns_image_name",
               "vnf-parameter-value":"ubuntu-14.04-daily"},
              {"vnf-parameter-name":"ellis_image_name",
               "vnf-parameter-value":"ubuntu-14.04-daily"},
              {"vnf-parameter-name":"homer_image_name",
               "vnf-parameter-value":"ubuntu-14.04-daily"},
              {"vnf-parameter-name":"robot_test_image_name",
               "vnf-parameter-value":"ubuntu-14.04-daily"},
              {"vnf-parameter-name":"sprout_image_name",
               "vnf-parameter-value":"ubuntu-14.04-daily"},
              {"vnf-parameter-name":"vellum_image_name",
               "vnf-parameter-value":"ubuntu-14.04-daily"},
              {"vnf-parameter-name":"dns_ip",
               "vnf-parameter-value":"8.8.8.8"},
              {"vnf-parameter-name": "clearwater_pub_key",
               "vnf-parameter-value":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAA\
BAQDY15cdBmIs2XOpe4EiFCsaY6bmUmK/GysMoLl4UG51JCfJwvwoWCoA+6mDIbymZxhxq9IGx\
ilp/yTA6WQ9s/5pBag1cUMJmFuda9PjOkXl04jgqh5tR6I+GZ97AvCg93KAECis5ubSqw1xOCj4\
utfEUtPoF1OuzqM/lE5mY4N6VKXn+fT7pCD6cifBEs6JHhVNvs5OLLp/tO8Pa3kKYQOdyS0xc3r\
h+t2lrzvKUSWGZbX+dLiFiEpjsUL3tDqzkEMNUn4pdv69OJuzWHCxRWPfdrY9Wg0j3mJesP29EBh\
t+w+EC9/kBKq+1VKdmsXUXAcjEvjovVL8l1BrX3BY0R8D imported-openssh-key"
              },
              {"vnf-parameter-name":"clearwater_key_name",
               "vnf-parameter-value":"cleouverte"}]
